<section class="container mt-5">
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Address</th>
        <th scope="col">Pincode</th>
        <th scope="col">Mobile</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
        <tr>
          <td>{{this.date}}</td>
          <td>{{this.deliveryDetails.address}}</td>
          <td>{{this.deliveryDetails.pincode}}</td>
          <td>{{this.deliveryDetails.mobile}}</td>
          <td>{{this.totalAmount}}</td>
          <td>{{this.paymentMethod}}</td>
          <td>{{this.status}}</td>
          <td> <a href="/admin/update-order-status/{{this._id}}" class="btn btn-danger">Update Status</a> </td>
          <td> <a href="/admin/view-order-product/{{this._id}}" class="btn btn-danger">View Products</a> </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if orders}}
  {{else}}
  <h5 class="float-end">Order Not Found</h5>
  {{/if}}
</section>
